{% extends 'base.html' %}
{% block content %}
<font size="+1" color="red">{{msg}}
<center>
</font>
<h2>User  Registration</h2>
<br>


	
<form class="w3-container" method="post" action="/u_signup/">
	{% csrf_token %} 

	<table id="tab">
	
                    <tr><td><input class="form-control"  type="text" name="name" placeholder="Name" required="required"   size="50"  ></input></td></tr>
                    <tr><td><input class="form-control"  type="e_mail" name="email" placeholder="Email, example@example.com" required="required"   size="50"  onblur="validate1()"></input></td></tr>
                    <tr><td><input class="form-control"  type="text" name="phone" placeholder="Phone" required="required"  size="50"   onblur="validate3()"></input></td></tr>
                    
					<tr><td><input class="form-control"  type="Password" name="password" placeholder="Password" required="required"   size="50"   onblur="validate5()"></input></td></tr>

						<tr><td><input  type="radio" name="gen" value="male">&nbsp;Male&nbsp;&nbsp;<input type="radio" name="gen" value="female">&nbsp;Female&nbsp;&nbsp;

    	<tr><td><input class="form-control"  type="number" name="height" placeholder="Height (in cm)" required="required"   size="50"   onblur="validate5()"></input></td></tr>
        	<tr><td><input class="form-control"  type="number" name="weight" placeholder="Weight (in kilos)" required="required"   size="50"   onblur="validate5()"></input></td></tr>
    
	<tr><td><input class="form-control"  type="number" name="age" placeholder="Age" required="required"   size="50"   onblur="validate5()"></input></td></tr>
    
	                    <tr><td>Type of Diet
						<select name="type_" class="form-control"  >
							<option value="gain" selected>To gain Weight 
							<option value="reduce">To reduce Weight
						</select>


					<tr><td><input type="submit" class="form-control" value="Register"  size="50"  >
                
	</table>

</form>


{% endblock %}